@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {
  transition: 300ms ease-out;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  background-color: transparent;
  border: 1px solid #303f73;
}

input:not(:focus) {
  /* Adicione a cor desejada quando o input não está focado */
}

input:focus {
  outline: none; /* Remova a borda padrão do foco */
  border: 1px solid #255d6a; /* Adicione a cor desejada quando o input está focado */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0e1116 #0e1116;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #0e1116;
}

*::-webkit-scrollbar-track:hover {
  background-color: #0e1116;
}

*::-webkit-scrollbar-track:active {
  background-color: #0e1116;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #0e1116;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0e1116;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #0e1116;
}
